
<html>
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
		<script src="javascript/app.js"></script>
	</head>
	
	<body ng-app="usersInfo">
		
		<div ng-controller="mainCtrl">
			<h2>List of All Users</h2>
			<ul>
				<li ng-repeat="user in all_data.users"> {{ user.name }} - {{ user.profession }} </li>
			</ul>
		</div>
		
		<div ng-controller="accessdb">
			<h2>Accessing the MongoDB</h2>
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Job</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input class="form-control" ng-model="user.name" /></td>
						<td><input class="form-control" ng-model="user.job" /></td>
						<td><input class="form-control" ng-model="user.email" /></td>
						<td><button class="btn btn-default" ng-click="addUser()">Add User</button></td>
					</tr>
					<tr ng-repeat="user in users">
						<td> {{ user.name }} </td>
						<td> {{ user.job }} </td>
						<td> {{ user.email }} </td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br/>
		<h2>Simple Form</h2>
		
		<form action="process_form_post" method="POST">
			First Name: <input type="text" name="first_name" />
			<br/> <br/>
			Last Name:  <input type="text" name="last_name" />
			<br/> <br/>
			<input type="submit" value="Submit" />
		</form>
		
		<br/><br/>
		<h2>Form for Uploading Files</h2>
		
		<form action="file_upload" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" size="50" />
			<input type="submit" value="Upload File" />
		</form>
		
	</body>
</html>